@charset "UTF-8";

@media  screen and (min-width: 800px){

    section#login{
        width: 100vw;
        height: 100vh;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
        background-position: center top;
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
        height: 94%;
        
    }
    section#login > div#barra{
        float: right;
        width: 70%;
        height: 1%;
        
    }
    section#login > div#syngenta{
        float: right;
        width: 70%;
        height: 5%;
        
    }

}