@charset "UTF-8";

/* PALETA DE CORES
#EB7800 - LARANJA
#5F7200 - VERDE
#7F7F7F - CINZA
*/

*{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

body,html{
    background-color: #5F7200;
    height: 95vh;
    width: 95vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden ;

    background-color: white;
    height: 95vh;
    width: 95vw;
    border-radius: 20px;
    transition: width .3s , height .3s;


}

section#login > div#imagem{
    background: #5F7200 url(../imagem/Soybean.jpg) no-repeat;
    background-size: cover;
    height: 40%;
}

section#login > div#formulario{
    display: block;
    background: white;
    background-size: cover;
    height: 55%;
    padding: 10px;
}

section#login > div#barra{
    display: block;
    background: #5F7200 no-repeat ;
    background-size: cover;
    height: 1%;
}

section#login > div#syngenta{
    display: block;
    background: white url(../imagem/Syngenta_Logo.png) no-repeat;
    background-size: contain   ;
    background-position-x: center;
    height: 4%;
}

div#formulario > h1{
    margin-bottom: 10px;
}

div#formulario > p{
    margin-bottom: 10vw;
} 

form > p{
    margin-bottom: 10px;
    color: white ;
}

form > div.campo{
    color: #5F7200;
    margin: 5px 0px;
}

form > a.botao{
    display: block;
    color: #5F7200;
    
}

form > input[type=submit] {
    display: block;
    width: 240px;
    height: 25px;
    background-color: #5F7200;
    color: white;
    font-style: oblique;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    display: block;
    background-color: #5f7200a1;


}

